<section class="section-hero">
  <div class="section-hero__background-pattern"></div>
  <div class="section-hero__background"></div>

  <div class="section-hero__container-wrapper">
    <div class="section-hero__container">
      <img
        class="section-hero__logo"
        src="assets/logo.svg"
        alt="Клуб четырёх коней"
      />
      <div class="section-hero__content-wrapper">
        <div class="section-hero__heading-wrapper">
          <h1 class="section-hero__heading">
            <span>Превратите уездный город</span>
            <span>в столицу</span>
            <span>земного шара</span>
          </h1>
          <p class="section-hero__underheading">
            Оплатите взнос на телеграммы для организации Международного
            васюкинского турнира по шахматам
          </p>
        </div>
        <div class="section-hero__buttons-wrapper">
          <a class="section-hero__button dark-button" href="#info">
            <p class="section-hero__button-text">Поддержать шахматную мысль</p>
          </a>
          <a class="section-hero__button light-button" href="#stages">
            <p class="section-hero__button-text">Подробнее о турнире</p>
          </a>
        </div>
      </div>
    </div>

    <div class="section-hero__round-wrapper">
      <img
        class="section-hero__round"
        src="assets/images/hero/hero-image-mobile.png"
        alt="Image"
      />
    </div>
  </div>
</section>
