.section-hero {
  overflow: hidden;
  background-color: var(--hero-bg);
  padding: 1.125rem 1.25rem 0;

  @media (width > 1024px) {
    padding: 1.625rem 4.5rem 9.5rem;
  }
}

.section-hero__container-wrapper {
  max-width: 1240px;
  position: relative;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @media (width > 1024px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 3.75rem;
  }

  & .section-hero__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: flex-start;
    z-index: 10;

    @media (width > 1024px) {
      max-width: 542px;
    }
  }
}

.section-hero__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__hero__logo {
  height: 32px;

  @media (width > 1024px) {
    height: 36px;
  }
}

.section-hero__heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .section-hero__heading {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    font-family: "Merriweather";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 110%;
    color: var(--black);

    @media (width > 1024px) {
      font-size: 3.75rem;
    }

    & span:nth-child(1) {
      text-align: left;
    }
    & span:nth-child(2) {
      text-align: center;
    }
    & span:nth-child(3) {
      text-align: right;
    }
  }

  & .section-hero__underheading {
    margin: 0;
    font-size: 1.125rem;
    line-height: 130%;
    color: var(--black);
    font-family: "Golos Text";
    font-weight: 400;

    @media (width > 1024px) {
      text-align: center;
    }
  }
}

.section-hero__buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  @media (width > 1024px) {
    flex-direction: row;
    gap: 1rem;
  }

  & .section-hero__button {
    padding: 1.125rem 1.25rem;
    border-radius: 999px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

    @media (width > 1024px) {
      flex: 1;
      max-width: 100%;
      white-space: normal;
      word-break: break-word;
    }

    & .section-hero__button-text {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Golos Text";
      text-align: center;
      margin: 0;
      line-height: 70%;

      @media (width > 1024px) {
        max-width: 170px;
        line-height: 130%;
      }
    }

    &.dark-button {
      color: var(--hero-btn-dark-text);
      background-color: var(--hero-btn-dark-bg);

      &:hover {
        color: var(--hero-btn-dark-text-hover);
        background-color: var(--hero-btn-dark-bg-hover);
      }
    }
    &.light-button {
      color: var(--hero-btn-light-text);
      background-color: var(--hero-btn-light-bg);

      &:hover {
        color: var(--hero-btn-light-text-hover);
        background-color: var(--hero-btn-light-bg-hover);
      }

      @media (width > 1024px) {
        background-color: transparent;
        border: 2px solid #1f1f1f;
      }
    }
  }
}
.section-hero__round-wrapper {
  width: 100%;
  height: 300px;

  & .section-hero__round {
    max-width: none;
    width: auto;
    height: auto;
    position: absolute;
    bottom: -15px;
    right: -140px;
    transform: translateX(0);
  }

  @media (width > 1024px) {
    display: none;
  }
}

.section-hero__background-pattern {
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 811px;
  background-image: url("/assets/images/hero/hero-bg-pattern.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (width > 500px) {
    height: 700px;
  }
}

.section-hero__background {
  display: none;
  position: absolute;
  max-width: 1920px;
  background-image: url("/assets/images/hero/hero-image-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (width > 1024px) {
    display: block;
    height: 850px;
    top: -150px;
    left: 0;
    width: 100vw;
  }

  @media (1920px > width > 1024px) {
    top: -100px;
  }

  @media (width > 1920px) {
    left: 50%;
    transform: translateX(-50%);
  }
}
