<section id="stages" class="section-stages">
  <div class="section-stages__heading-wrapper">
    <h2 class="section-stages__heading">
      <span>Этапы преображения</span>
      <div class="section-stages__heading desktop-wrapper">
        <span>Васюков</span>
        <p class="section-stages__underheading desktop">
          Будущие источники обогащения васюкинцев
        </p>
      </div>
    </h2>
    <p class="section-stages__underheading">
      Будущие источники обогащения васюкинцев
    </p>
  </div>
  <div class="section-stages__wrapper">
    <div class="section-stages__image-wrapper--mobile">
      <img
        class="section-stages__image--mobile"
        src="/assets/images/stages/stages-plane.png"
        alt=""
      />
    </div>

    <div class="section-stages__slider--mobile">
      <div class="section-stages__card--mobile paper-bg">
        <ul class="section-stages__card-list">
          <li class="section-stages__card-item">
            <p>1</p>
            Строительство железнодорожной магистрали Москва-Васюки
          </li>
          <li class="section-stages__card-item">
            <p>2</p>
            Открытие фешенебельной гостиницы «Проходная пешка» и других
            небоскрёбов
          </li>
        </ul>
      </div>

      <div class="section-stages__card--mobile paper-bg">
        <ul class="section-stages__card-list">
          <li class="section-stages__card-item">
            <p>3</p>
            Поднятие сельского хозяйства в радиусе на тысячу километров:
            производство овощей, фруктов, икры, шоколадных конфет
          </li>
        </ul>
      </div>

      <div class="section-stages__card--mobile paper-bg">
        <ul class="section-stages__card-list">
          <li class="section-stages__card-item">
            <p>4</p>
            Строительство дворца для турнира
          </li>
          <li class="section-stages__card-item">
            <p>5</p>
            Размещение гаражей для гостевого автотранспорта
          </li>
        </ul>
      </div>

      <div class="section-stages__card--mobile paper-bg">
        <ul class="section-stages__card-list">
          <li class="section-stages__card-item">
            <p>6</p>
            Постройка сверхмощной радиостанции для передачи всему миру
            сенсационных результатов
          </li>
        </ul>
      </div>

      <div class="section-stages__card--mobile paper-bg">
        <ul class="section-stages__card-list">
          <li class="section-stages__card-item">
            <p>7</p>
            Создание аэропорта «Большие Васюки» с регулярным отправлением
            почтовых самолётов и дирижаблей во все концы света, включая
            Лос-Анжелос и Мельбурн
          </li>
        </ul>
      </div>
    </div>

    <div class="section-stages__controls">
      <button
        class="section-stages__arrow section-stages__arrow--prev"
        aria-label="Предыдущий слайд"
      >
        <img class="arrow-left" src="assets/icons/arrow.svg" alt="" />
      </button>
      <div class="section-stages__dots"></div>
      <button
        class="section-stages__arrow section-stages__arrow--next"
        aria-label="Следующий слайд"
      >
        <img class="arrow-right" src="assets/icons/arrow.svg" alt="" />
      </button>
    </div>
  </div>

  <div class="section-stages__slider--desktop">
    <div class="section-stages__card--desktop paper-bg">
      <ul class="section-stages__card-list">
        <li class="section-stages__card-item">
          <p>1</p>
          Строительство железнодорожной магистрали Москва-Васюки
        </li>
      </ul>
    </div>

    <div class="section-stages__card--desktop paper-bg">
      <ul class="section-stages__card-list">
        <li class="section-stages__card-item">
          <p>2</p>
          Открытие фешенебельной гостиницы «Проходная пешка» и других
          небоскрёбов
        </li>
      </ul>
    </div>

    <div class="section-stages__card--desktop paper-bg tall">
      <ul class="section-stages__card-list">
        <li class="section-stages__card-item">
          <p>3</p>
          Поднятие сельского хозяйства в радиусе на тысячу километров:
          производство овощей, фруктов, икры, шоколадных конфет
        </li>
      </ul>
    </div>

    <div class="section-stages__card--desktop paper-bg">
      <ul class="section-stages__card-list">
        <li class="section-stages__card-item">
          <p>4</p>
          Строительство дворца для турнира
        </li>
      </ul>
    </div>

    <div class="section-stages__card--desktop paper-bg">
      <ul class="section-stages__card-list">
        <li class="section-stages__card-item">
          <p>5</p>
          Размещение гаражей для гостевого автотранспорта
        </li>
      </ul>
    </div>

    <div class="section-stages__card--desktop paper-bg">
      <ul class="section-stages__card-list">
        <li class="section-stages__card-item">
          <p>6</p>
          Постройка сверхмощной радиостанции для передачи всему миру
          сенсационных результатов
        </li>
      </ul>
    </div>

    <div class="section-stages__card--desktop paper-bg wide">
      <ul class="section-stages__card-list">
        <li class="section-stages__card-item">
          <p>7</p>
          <span>
            Создание аэропорта «Большие Васюки» с регулярным отправлением
            почтовых самолётов и дирижаблей во все концы света, включая
            Лос-Анжелос и Мельбурн
          </span>
          <div class="section-stages__image-wrapper--desktop">
            <img
              class="section-stages__image--desktop"
              src="/assets/images/stages/stages-plane.png"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
