<section class="section-stages">
  <div class="section-stages__heading-wrapper">
    <h2 class="section-stages__heading">
      <span>Этапы преображения</span>
      <div class="section-stages__heading desktop-wrapper">
        <span>Васюков</span>
        <p class="section-stages__underheading desktop">
          Будущие источники обогащения васюкинцев
        </p>
      </div>
    </h2>
    <p class="section-stages__underheading">
      Будущие источники обогащения васюкинцев
    </p>
  </div>
</section>
