<section class="marquee" aria-live="polite">
  <div class="marquee__inner">
    <div class="marquee__group">
      <div class="marquee__item">
        <p>Дело помощи утопающим — дело рук самих утопающих!</p>
      </div>
      <div class="marquee__item">
        <p>Шахматы двигают вперед не только культуру, но и экономику!</p>
      </div>
      <div class="marquee__item">
        <p>Лед тронулся, господа присяжные заседатели!</p>
      </div>
    </div>
    <div class="marquee__group">
      <div class="marquee__item">
        <p>Дело помощи утопающим — дело рук самих утопающих!</p>
      </div>
      <div class="marquee__item">
        <p>Шахматы двигают вперед не только культуру, но и экономику!</p>
      </div>
      <div class="marquee__item">
        <p>Лед тронулся, господа присяжные заседатели!</p>
      </div>
    </div>
  </div>
</section>
