<section class="section-members">
  <h2 class="section-members__heading">Участники турнира</h2>
  <div class="section-members__wrapper">
    <div class="section-members__carousel">
      <div class="section-members__card">
        <img
          class="section-members__card-img"
          src="assets/images/members/members-avatar.png"
          alt=""
        />
        <p class="section-members__card-name">Хозе-Рауль Капабланка</p>
        <p class="section-members__card-info">Чемпион мира по шахматам</p>
        <a class="section-members__card-more" href="#">Подробнее</a>
      </div>
      <div class="section-members__card">
        <img
          class="section-members__card-img"
          src="assets/images/members/members-avatar.png"
          alt=""
        />
        <p class="section-members__card-name">Эммануил Ласкер</p>
        <p class="section-members__card-info">Чемпион мира по шахматам</p>
        <a class="section-members__card-more" href="#">Подробнее</a>
      </div>
      <div class="section-members__card">
        <img
          class="section-members__card-img"
          src="assets/images/members/members-avatar.png"
          alt=""
        />
        <p class="section-members__card-name">Александр Алехин</p>
        <p class="section-members__card-info">Чемпион мира по шахматам</p>
        <a class="section-members__card-more" href="#">Подробнее</a>
      </div>
      <div class="section-members__card">
        <img
          class="section-members__card-img"
          src="assets/images/members/members-avatar.png"
          alt=""
        />
        <p class="section-members__card-name">Арон Нимцович</p>
        <p class="section-members__card-info">Чемпион мира по шахматам</p>
        <a class="section-members__card-more" href="#">Подробнее</a>
      </div>
      <div class="section-members__card">
        <img
          class="section-members__card-img"
          src="assets/images/members/members-avatar.png"
          alt=""
        />
        <p class="section-members__card-name">Рихард Рети</p>
        <p class="section-members__card-info">Чемпион мира по шахматам</p>
        <a class="section-members__card-more" href="#">Подробнее</a>
      </div>
      <div class="section-members__card">
        <img
          class="section-members__card-img"
          src="assets/images/members/members-avatar.png"
          alt=""
        />
        <p class="section-members__card-name">Остап Бендер</p>
        <p class="section-members__card-info">Гроссмейстер</p>
        <a class="section-members__card-more" href="#">Подробнее</a>
      </div>
    </div>

    <div class="section-members__navigation">
      <button class="section-members__btn section-members__btn--prev">
        <img class="arrow-left" src="assets/icons/arrow.svg" alt="" />
      </button>
      <span class="section-members__counter">
        <span class="current">1</span>
        <span class="divider">/</span>
        <span class="total">6</span>
      </span>

      <button class="section-members__btn section-members__btn--next">
        <img class="arrow-right" src="assets/icons/arrow.svg" alt="" />
      </button>
    </div>
  </div>
</section>
