<section class="section-members">
  <h2 class="section-members__heading">Участники турнира</h2>
  <div class="section-members__carousel">
    <div class="section-members__card">
      <img
        class="section-members__card-img"
        src="/assets/images/members/members-avatar.png"
        alt=""
      />
      <p class="section-members__card-name">Хозе-Рауль Капабланка</p>
      <p class="section-members__card-info">Чемпион мира по шахматам</p>
      <a class="section-members__card-more" href="#">Подробнее</a>
    </div>
    <div class="section-members__card">
      <img
        class="section-members__card-img"
        src="/assets/images/members/members-avatar.png"
        alt=""
      />
      <p class="section-members__card-name">Хозе-Рауль Капабланка</p>
      <p class="section-members__card-info">Чемпион мира по шахматам</p>
      <a class="section-members__card-more" href="#">Подробнее</a>
    </div>
    <div class="section-members__card">
      <img
        class="section-members__card-img"
        src="/assets/images/members/members-avatar.png"
        alt=""
      />
      <p class="section-members__card-name">Хозе-Рауль Капабланка</p>
      <p class="section-members__card-info">Чемпион мира по шахматам</p>
      <a class="section-members__card-more" href="#">Подробнее</a>
    </div>
  </div>
</section>
