:root {
  --white: #ffffff;
  --black: #313131;
  --primary-orange: #f54932;

  /* HeroSection */
  --hero-bg: #e9ded4;

  --hero-btn-dark-text: #ffffff;
  --hero-btn-light-text: #1f1f1f;

  --hero-btn-dark-text-hover: #1f1f1f;
  --hero-btn-light-text-hover: #ffffff;

  --hero-btn-dark-bg: #1f1f1f;
  --hero-btn-light-bg: #ffffff;

  --hero-btn-dark-bg-hover: #fbce51;
  --hero-btn-light-bg-hover: #1f1f1f;

  /* Footer */
  --footer-bg: #e9ded4;
  --footer-text: #7b7672;
}
