<section id="info" class="section-info">
  <div class="section-info__heading-wrapper first">
    <h2 class="section-info__heading">
      Чтобы поддержать Международный васюкинский турнир
      <img
        class="section-info__heading-image image-players mobile"
        src="assets/images/info/info-image-players.png"
        alt=""
      />
      <span>посетите лекцию на тему:</span>
      <span class="section-info__heading-highlight"
        >«Плодотворная дебютная идея»</span
      >
      <img
        class="section-info__heading-image image-game mobile"
        src="assets/images/info/info-image-game.png"
        alt=""
      />
    </h2>
    <img
      class="section-info__heading-image image-players desktop"
      src="assets/images/info/info-image-players.png"
      alt=""
    />
  </div>
  <div class="section-info__heading-wrapper">
    <img
      class="section-info__heading-image image-game desktop"
      src="assets/images/info/info-image-game.png"
      alt=""
    />
    <div>
      <h3 class="section-info__heading">
        и Сеанс
        <span class="section-info__heading-highlight">
          одновременной игры в шахматы на 160 досках
        </span>
        гроссмейстера О. Бендера
      </h3>
      <ul class="section-info__list">
        <li class="section-info__list-item">
          <p class="section-info__list-item__heading">Место проведения:</p>
          <p class="section-info__list-item__content">Клуб «Картонажник»</p>
        </li>
        <li class="section-info__list-item">
          <p class="section-info__list-item__heading">
            Дата и время мероприятия:
          </p>
          <p class="section-info__list-item__content">
            22 июня 1927 г. в 18:00
          </p>
        </li>
        <li class="section-info__list-item">
          <p class="section-info__list-item__heading">
            Стоимость входных билетов:
          </p>
          <p class="section-info__list-item__content">20 коп.</p>
        </li>
        <li class="section-info__list-item">
          <p class="section-info__list-item__heading">Плата за игру:</p>
          <p class="section-info__list-item__content">50 коп.</p>
        </li>
        <li class="section-info__list-item">
          <p class="section-info__list-item__heading">Взнос на телеграммы:</p>
          <div class="section-info__list-item__block">
            <p class="section-info__list-item__content strikethrough">
              100 руб.
            </p>
            <p class="section-info__list-item__content sublist">21 руб. 16 коп.</p>
          </div>
        </li>
      </ul>
      <a class="section-info__hint">
        По всем вопросам обращаться в администрацию к К. Михельсону
      </a>
    </div>
  </div>
</section>
